/* Style for photo of me */
#picture {
    margin-top: 50px
}
/* Style for text about me */
#picturetext {
    margin-top: 50px;
}
/* Style for centered text on smaller screen */
@media screen and (max-width: 575px) {
   
    #picturetext {
        text-align: center;
    }
  }

  .bigger {
      width: 382px;
      height: 290px;
  }

.navcolor {
    background: teal;

    
}

.topmar {
    align-content: center;
}